
header{
    background-image: url('images/iitbannerlogo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 25%;
    border-right: 10px;
    margin: 5px;
}
span {
    font-size: 50px;
    font-weight: bold;
    color: #f5dd05;
}
#b1{
    background-color: hwb(0 43% 57%);
    color: black;
    font-size: 20px;
    margin-left: 80px;
    border-style:ridge;
    border-radius: 25px;
}
#b1:hover{
    color: rgb(220, 75, 18);
    text-shadow: 0 0 25px rgb(165, 115, 96),
                 0 0 50px  rgb(35, 32, 31);
}
h1:hover{
    color: orangered;
    text-shadow: 0 0 25px rgb(23, 21, 21),
                 0 0 50px  rgb(35, 32, 31);
    transform: scale(1,1);
}
h1{
    color: rgb(224, 210, 20);
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 3px 5px hsl(55, 20%, 26%);
    transition: 0.3s ease;
    
}
.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 4%, 26%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(238, 224, 224);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(212, 200, 200);
}
#h3{
    color: rgb(222, 185, 174);
}
#h3 :hover{
    color: orangered;
    text-decoration: underline;
    text-shadow: 0 0 25px rgb(175, 73, 35),
                 0 0 50px  rgb(35, 32, 31);
    transform: scale(1,1);
}
.navbar li{
    float: left;
    display: flex;
}
.home{
    text-align: center;
    color: azure;
}
.home-content{
    color: rgb(10, 8, 8);
    font-size: large;
    font-weight: 1000;
    text-shadow: 2px;
    text-align: center;
}
.intro-content{
    color: rgb(10, 8, 8);
    font-size: large;
    font-weight: 1000;
    text-shadow: 2px;
}
#p3{
    color: rgb(0, 1, 2);
    text-shadow:1px 1px 2px white;
}
.heading :hover{
    color: orangered;
    text-shadow: 0 0 25px rgb(23, 21, 21),
                 0 0 50px  rgb(35, 32, 31);
    transform: scale(1,1);
}

#img1{
    float: left;
    width: 250px;
}
.contact{
    background-color: rgb(199, 202, 202);
    text-align: left;
    padding: 10px;
    margin-left: 0px;
}
.contact .social{
    text-align: center;
    text-decoration: none;
    padding-bottom: 25px;
    color: rgb(16, 15, 15);
}
#contactlist{
    list-style: none;
}
h3{
    text-shadow: 1px black;
}
.copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(15, 13, 13);
}
.gallery{
    display: inline-block;
    margin-top: 10px;
    border: 2px solid black;
}
.gallery img{
    width: 300px;
    height: 170px;
    display: flex;
}
.gallery .descript{
    text-align: center;
    font-size: larger;
    color: rgb(58, 54, 54);
}
.gallery:hover{
    border-color: rgb(160, 162, 162);
    width: 350px;
    height: 200px;
}
